html
{
    background: #F0E491;
    color: #658C58;
    font-family: "Comic Sans MS";
    margin: 0 auto;
}
body
{
    margin: 0 auto;
}
div,form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
}
input
{
    border: dashed #31694E 3px;
    border-radius: 15px;
    padding: 5px;
    background: #BBC863;
    width: auto;
    min-width: 100px;
}
label
{
    width: 150px;
}
p
{
    background: #31694E;
    border: solid #BBC863 3px;
    border-radius: 20px;
    padding: 60px;
}
.row
{
    flex-direction: row;
    justify-content: space-around;
}